.simple-marquee-container *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.simple-marquee-container {
	width: 100%;
	background: #169954;
	float: left;
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	height: 40px;
	position: relative;
	cursor: pointer;
}

.marquee-sibling {
	padding: 0;
	background: red;
	width: 20%;
	height: 45px;
	line-height: 42px;
	font-size: 18px;
        font-weight: bold;
	font-weight: normal;
	color: #ffffff;
	text-align: center;
	float: left;
	left: 0;
	z-index: 2000;
}

.marquee, *[class^="marquee"] {
	display: inline-block;
	white-space: nowrap;
	position:absolute;
}

.marquee{
  margin-left: 25%;
}

.marquee-content-items{
  display: inline-block;
  padding: 3px;
  margin: 0;
  height: 43px;
  position: relative;
}

.marquee-content-items li{
  display: inline-block;
  line-height: 35px;
  color: #fff;
}

.marquee-content-items li:after{
	content: "|";
	margin: 0 1em;
}
